body {
  margin: 0 auto;
  width: 100%;
  background-image: url(../images/qbkls.png);
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  font-size: 16px;
  overflow: visible;
}

h1,h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  color: #444;
}

/* nav bar style */

header {
  border-bottom: solid 2.5px #cccccc;
  background: #ffffff;
  height: 75px;
  min-width: 960px;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  float: left;
  margin-left: 180px;
  margin-top: 0;
  padding: 20px 20px 20px 20px;
  background-color: #4aaaa5;
  color: white;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 200px;
}

nav li {
  display: inline-block;
  margin: 0 auto;
  padding: 30px 10px;
  /* position: relative; */
  text-decoration: none;
}

nav a {
  color: #444;
  text-decoration: #444;
  text-transform: none;
  font-size: 16px;
}

nav a:hover {
  color: #4aaaa5;
  transition: 200ms;
}

.pipe {
  color: rgb(199, 197, 197);
}

/* page content style */

.main-bio {
  width: 960px;
  max-width: 960px;
  margin: 70px auto;
  background-color: white;
  padding: 40px;
  box-shadow: 1px 5px 8px lightgrey;
  border: solid 0.5px #dddddd;
}

#main-pic {
  float: left;
  padding: 1em;
}

.main-bio::after {
  content: "";
  display: table;
  clear: both;
}

.AboutMe {
  color: #4aaaa5;
}

img {
  padding: 20px;
}

p {
  line-height: 2;
}

/* email form style

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Add a background color and some padding around the form */
.email {
  border-radius: 5px;
  padding: 20px;

}

/* Portfolio style */

.portfoliocontainer {
  width: 960px;
  max-width: 960px;
  margin: 70px auto;
  background-color: white;
  padding: 40px;
  box-shadow: 1px 5px 8px lightgrey;
  border: solid 0.5px lightgray;

}

.portfoliohead {
  color: #4aaaa5;
}

.content-wrapper {
  display: inline-block;
  padding: 20px 2px;
}

.text-wrapper, .rpg-text, .trivia-text, .rutgers-text, .rps-text {
  position: relative;
  margin-top: -100px;
  left: 20px;
}

.text-wrapper, .rpg-text, .trivia-text, .rutgers-text, .rps-text  p{
  text-align: center;
  width: 300px;
}


.portfoliocontainer p {
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.portfoliocontainer a {
  text-decoration: none;
  width: 300px;
  height: 250px;
}

/* footer style  */

footer {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 12px;
  padding: 5px 0px -100px 0px;
  color: #fff;
  background: #666666;
  border-top: solid 10px #4aaaa5;
  position: fixed;
  bottom: 0;
}
